.app_header {
  position: relative;
  background-color: #ff9000;
  height: 41px;
  .app_logo {
    position: absolute;
    top: 5px;
    left: 50%;
    margin: 0 auto;
    display: inline-block;
    transform: translateX(-50%);
  }
  .left {
    float: left;
  }
  .right {
    .modalText {
      color: #5e6c84;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      margin: 4px 0 0;
      padding: 0;
    }
    .icon {
      cursor: pointer;
      background-color: lighten($color: #ff9000, $amount: 20%);
      border-radius: 5px;
      padding: 4px 5px 1px;
      svg {
        width: 20px;
        height: 20px;
      }
      &:hover {
        background-color: darken($color: #ff9000, $amount: 5%);
      }
    }
    float: right;
  }
}
