.parent {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2140;
  color: #333;
  .modalBox {
    position: absolute;
    top: 6%;
    right: 3px;
    width: 310px;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    z-index: 2000;
    .ancBox {
      padding: 5px 10px;
      border-bottom: 2px solid #eee;
      .img {
        cursor: pointer;
        font-weight: 300;
        width: 15px;
        float: right;
        display: inline-block;
        transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
        -webkit-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
        &:active {
          transform: scale(0.9);
        }
      }
    }
  }

  .lightBox {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
}
