.header {
  position: relative;
  background-color: #ffffff;
  display: block;
  padding: 5px 0px;
  border-bottom: 1px solid #b5b5b5;
  .main {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    position: relative;
    align-items: center;
    .header-tab {
      .list-tab {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        .item {
          position: relative;
          cursor: none;

          a {
            padding: 1rem;
            text-decoration: none;
            display: block;
            color: #9b9b9b;
            &::before {
              content: "";
              position: absolute;
              bottom: -6px;
              background: #e64e40;
              height: 2px;
              left: 0;
              width: 100%;
              transform: scaleX(0);
              transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
            }
            &:hover,
            &.selected {
              color: darken($color: #9b9b9b, $amount: 70%);
              &::before {
                transform: scale(1);
              }
            }
          }
        }
      }
    }

    .logo-box {
      display: inline-block;
      .img {
      }
      // position: absolute;
      // top: 50%;
      // transform: translate(50%, 50%);
    }
  }
}
