$icomoon-font-path: "fonts" !default;


$icon-add-restaurant: "\e900";
$icon-alert: "\e901";
$icon-area: "\e902";
$icon-angle-down: "\e903";
$icon-angle-left: "\e904";
$icon-angle-right: "\e905";
$icon-angle-up: "\e906";
$icon-bell: "\e907";
$icon-bookmark: "\e908";
$icon-bookmark-filled: "\e909";
$icon-building: "\e90a";
$icon-camera: "\e90b";
$icon-cart: "\e90c";
$icon-cash: "\e90d";
$icon-clock: "\e90f";
$icon-comment: "\e910";
$icon-credit: "\e911";
$icon-cross: "\e912";
$icon-delivery: "\e913";
$icon-disconnect: "\e914";
$icon-discount: "\e915";
$icon-dish: "\e916";
$icon-edit: "\e917";
$icon-empty-bag: "\e918";
$icon-failed: "\e919";
$icon-filter: "\e91a";
$icon-foodiran: "\e91b";
$icon-gallery: "\e91c";
$icon-gps: "\e91d";
$icon-guid: "\e91e";
$icon-headset: "\e91f";
$icon-home: "\e920";
$icon-info: "\e921";
$icon-lock: "\e922";
$icon-bag: "\e923";
$icon-settings: "\e924";
$icon-popup: "\e925";
$icon-mail: "\e926";
$icon-map: "\e927";
$icon-megaphone: "\e928";
$icon-minus: "\e929";
$icon-mobile: "\e92a";
$icon-more: "\e92b";
$icon-note: "\e92c";
$icon-online: "\e92d";
$icon-orders: "\e92e";
$icon-packaging: "\e92f";
$icon-pickup: "\e930";
$icon-pin: "\e931";
$icon-plus: "\e932";
$icon-plus-bold: "\e933";
$icon-pos: "\e934";
$icon-refresh: "\e935";
$icon-restaurant: "\e936";
$icon-search: "\e937";
$icon-stop: "\e938";
$icon-stopwatch: "\e939";
$icon-tag: "\e93a";
$icon-telephone: "\e93b";
$icon-terms: "\e93c";
$icon-tick: "\e93d";
$icon-trash: "\e93e";
$icon-user: "\e93f";
$icon-facebook: "\e940";
$icon-gplus: "\e941";
$icon-instagram: "\e942";
$icon-linkedin: "\e943";
$icon-telegram: "\e944";
$icon-twitter: "\e945";
$icon-addtobasket: "\e946";
$icon-menu: "\e947";
$icon-logout: "\e948";
$icon-maximize: "\e949";
$icon-arrow-left: "\e94a";
$icon-share: "\e94b";
$icon-group: "\e94c";
$icon-zoom: "\e94e";
$icon-aparat: "\e94f";
$icon-mail-filled: "\e950";
$icon-alert-filled: "\e951";
$icon-coupon: "\e952";
$icon-copy: "\e953";
$icon-building-f: "\e955";
$icon-home-f: "\e956";
$icon-city: "\e958";
$icon-compass-f: "\e959";
$icon-flag: "\e95a";
$icon-grid-f: "\e95b";
$icon-list-f: "\e95c";
